{% extends "layout.html" %}

{% block title %}
    Add Recipe
{% endblock %}

{% block main %}
    <form action="/add_recipe" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="dish_name" placeholder="Name of the dish" type="text">
        </div>
        <div class="form-group">
            <textarea autocomplete="off" class="form-control" name="ingredients" placeholder="Ingredients" type="text" rows="10" cols="50"></textarea>
        </div>
        <div class="form-group">
            <textarea autocomplete="off" class="form-control" name="recipe" placeholder="Enter your recipe here." type="text" rows="10" cols="50"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}